.homeLayout {
    position: relative;
}

.home-header {
    display: flex;
    width: 100%;
    height: 10%;
}

.main-content {
    top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    flex: 1;
    overflow-y: hidden;
    background-color: aqua;
}

.sidebar {
    height: 100%;
    width: 250px;
    overflow-y: auto;
}

.chats {
    height: 100%;
    flex: 1;
    display: flex;
    overflow-y: auto;
    background-color: rgb(126, 126, 126);
    flex-direction: column;
}

.chat-header {
    background-color: "red";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.chat-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-input {
    background-color: "red";
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    align-items: center;
}
.chat-content {
    height: calc(100% - 120px);
    overflow: auto;
    background-color: "red";
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.chat-right {
    justify-content: end;
}

.each-chat {
    background-color: blue;
    width: fit-content;
    border-radius: 20px;
    padding: 2px 20px 2px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.input-type-message {
}

#search-text {
    background: none;
    font-size: 18px;
    border-radius: 30px;
    padding-right: 150px;
}

#search-btn {
    background-color: purple;
    border: none;
    // padding:  15px;
    border-radius: 30px;
    font-size: 18px;
}

/* CSS for modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* CSS for modal */
.update-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    position: relative;
}

.alert-home {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeOut 5s forwards;
}

.alert-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.alert-time {
    font-size: 12px;
    color: #fff;
}

.alert-close-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
