.home-header {
    display: flex;
    width: 100%;
    height: 10%;
}

.main-content {
    width: 100%;
    height: 91vh;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    overflow-y: auto;
}

.chats {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    background-color: rgb(126, 126, 126);
}

#search-text {
    background: none;
    font-size: 18px;
    border-radius: 30px;
    padding-right: 150px;
}

#search-btn {
    background-color: purple;
    border: none;
    // padding:  15px;
    border-radius: 30px;
    font-size: 18px;
}
