input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;

    &:focus {
        border-color: #5b08a7;
    }
}

[type="file"] {
    display: none;
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"] + label {
    background: #11fa95;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    outline: none;
    padding: 0.5rem 30px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;

    &:hover {
        background-color: darken(#f15d22, 10%);
    }

    &.btn-2 {
        background-color: #99c793;
        border-radius: 50px;
        overflow: hidden;

        &::before {
            color: #fff;
            font-family: "Font Awesome 5 Pro";
            font-size: 100%;
            height: 100%;
            right: 130%;
            line-height: 3.3;
            position: absolute;
            top: 0px;
            transition: all 0.3s;
        }

        &:hover {
            background-color: darken(#99c793, 30%);

            &::before {
                right: 75%;
            }
        }
    }
}
